[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
torch = "*"
gym = {extras = ["atari", "box2d", "classic_control"], version = "*"}
install = "*"
atari-py = "*"
ipykernel = "==4.8.2"
tornado = "*"
matplotlib = "*"

[dev-packages]
jupyterlab = "*"
ipykernel = "*"

[requires]
python_version = "3.6"
